@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
section
{
    position: relative;
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2
{
    color: #fff;
    font-size: 15em;
}

.light
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 20%);
}

    