


*
{
    margin: 0px;
    padding: 0px;
    
    
   
}
body{
    background-image: linear-gradient( rgb(0, 0, 0),#1c0320);
    
}

.boddy
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
 
}

.loader
{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(400px) rotateX(70deg);
    
}

.loader span
{
   position:absolute;
   display: block;
   box-sizing: border-box;
   border-radius: 50%;
   animation: animate 4s ease-in-out infinite;
}



@keyframes animate
{
    0%,50%,75%
    {
        transform:translateZ(-100px);
    }
    60%,30%
    {
        transform: translateZ( 100px);
    }
}

.loader span:nth-child(1)
{
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgb(245, 8, 8) ;
    animation-delay: 1.4s;
}
.loader span:nth-child(2)
{
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background-color: rgb(16, 173, 16);
    animation-delay: 1.3s;
}
.loader span:nth-child(3)
{
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    background-color: rgb(14, 14, 231);
    animation-delay: 1.2s;
}
.loader span:nth-child(4)
{
    top:30px;
    left:30px;
    bottom:30px;
    right:30px;
    background-color: rgb(0, 255, 221);
    animation-delay: 1.1s;
}
.loader span:nth-child(5)
{
    top:40px;
    left:40px;
    bottom:40px;
    right:40px;
    background-color: rgb(220, 217, 20);
    animation-delay: 1s;
}
.loader span:nth-child(6)
{
    top:50px;
    left:50px;
    bottom:50px;
    right:50px;
    background-color: rgb(2, 252, 44);
    animation-delay: 0.9s;
}
.loader span:nth-child(7)
{
    top:60px;
    left:60px;
    bottom:60px;
    right:60px;
    background-color: rgb(245, 141, 14);
    animation-delay: 0.8s;
}
.loader span:nth-child(8)
{
    top:70px;
    left:70px;
    bottom:70px;
    right:70px;
    background-color: rgb(233, 73, 20);
    animation-delay: 0.7s;
}
.loader span:nth-child(9)
{
    top:80px;
    left:80px;
    bottom:80px;
    right:80px;
    background-color: darkviolet;
    animation-delay: 0.6s;
}
.loader span:nth-child(10)
{
    top:90px;
    left:90px;
    bottom:90px;
    right:90px;
    background-color: rgb(0, 255, 157);
    animation-delay: 0.5s;
}
.loader span:nth-child(11)
{
    top:100px;
    left:100px;
    bottom:100px;
    right:100px;
    background-color: rgb(162, 0, 255);
    animation-delay: 0.4s;
}
.loader span:nth-child(12)
{
    top:110px;
    left:110px;
    bottom:110px;
    right:110px;
    background-color: indigo;
    animation-delay: 0.3s;
}
.loader span:nth-child(13)
{
    top:120px;
    left:120px;
    bottom:120px;
    right:120px;
    background-color: rgb(20, 113, 220);
    animation-delay: 0.2s;
}
.loader span:nth-child(14)
{
    top:130px;
    left:130px;
    bottom:130px;
    right:130px;
    background-color: rgb(248, 7, 7);
    animation-delay: 0.1s;
}
.loader span:nth-child(15)
{
    top:140px;
    left:140px;
    bottom:140px;
    right:140px;
    background-color: rgb(51, 255, 0);
    animation-delay: 0s;
}

