@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

:root {
  --primary-color: #374151;
  --secondary-color: #d1fae5;
  --bg-color: #f9fafb;
  --width-break: 500px;
  --width-break-footer: 700px;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  background-color: var(--bg-color);
}

main{

justify-content: space-evenly;
background-image: url("images/bg-img.png");}

.inputarea {
  padding: 1rem;
  max-width: var(--width-break);
  margin: auto;
}


/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: white;
  height: 10vh;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  text-shadow: 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 70px #0ff,
    0 0 90px #0ff;
}

/* input textarea */
textarea {
  height: 7rem;
  width: 90%;
  margin: 1rem 0rem;
  padding: 1rem;
  display: block;
  font-family: inherit;
  font-size: large;
  border: 2px solid var(--primary-color);
  border-radius: 0.2cm;
}

/* button */
.btn-style {
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  padding: 1rem;
  font-size: large;
  color: var(--secondary-color);
}

/* output box */
#output {
  height: 7rem;
  width: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 3px solid var(--primary-color);
  display: block;
  font-size: large;
  font-weight: bold;
  color: var(--primary-color);
  border-radius: 0.2cm;
  background-color: rgba(255, 255, 255, 0.9);
}

/* footer */

#footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: auto;
  text-align: center;
  font-size: small;
}

h3 {
  padding: 1rem 0rem;
  margin: 0px;
}

.footer-text {
  max-width: var(--width-break-footer);
  margin: auto;
  padding-bottom: 1rem;
}
