body {
  background: linear-gradient(to top, #f0e3ff 0%, #f0d3fb 100%);
  margin: 0;
}

.name {
  background: linear-gradient(to bottom, #3e206d 0%, #9900cc 100%);
  border: 0;
  color: #d89cf6;
  font-family: 'Aclonica', sans-serif;
  font-size: 23px;
  margin: 0;
  padding: 1px;
  text-decoration: underline;
  text-shadow: 6px 1px 9px #4b0082;
  text-align: center;
}

.bio {
  background: linear-gradient(to top, #3e206d 0%, #9900cc 100%);
  border: 0;
  color: #d89cf6;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 15px;
  line-height: 2.5;
  padding: 1% 25%;
  width: 50%;
  text-decoration: none;
  text-shadow: 6px 1px 9px midnightblue;
}

.footer {
  display: inline-block;
  text-align: center;
  background: linear-gradient(to top, #ff0066 0%, midnightblue 100%);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: midnightblue;
  font-family: 'Merienda One', cursive;
  font-size: 23px;
  text-decoration: underline;
  text-shadow: 6px 1px 9px #e066ff;
}

img {
  border-radius: 50%;
}

.logo {
  border-radius: 2%;
}

.icon {
  border-radius: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #d89cf6;
  border-width: 10px;
  width: 9%;
}

p {
  padding: 1px 25%;
}

.two {
  text-align: center;
  font-size: 20px;
}

a {
  color: white;
}

/*****************MEDIA QUERIES******************/
@media screen and (max-width:320px) {
  .name {
    width: 122%;
  }

  .bio {
    width: 62.75%;
    padding: 10% 30%;
    margin: 0;
  }

  .logo {
    width: 80%;
  }

  p {
    display: block;
    position: relative;
    right: 35px;
  }

  .two {
    text-align: center;
    right: -6px
  }

  hr {
    width: 20%;
    display: block;
    position: relative;
  }

  .footer {
    font-size: 15px;
    color: white;
  }
}
