* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #dbf1ff, #7a81ff);
}

::selection{
    color: #fff;
    background: #167bff;
  }
  .wrapper{
    position: absolute;
    max-width: 480px;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
    transition: opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  }
  .wrapper.show{
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
  }

.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .warn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: darkblue;
}

.warn-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 85px;
    background: white;
    border-radius: inherit;
}

.warn-icon span i {
    font-size: 40px;
    color: darkblue;
}

.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: darkblue;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;

}