@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
   height: 100vh;
   width:100%;
   background-color: rgb(26, 0, 34);
   display: flex;
   justify-content: center;
   align-items: center;
}
.circle1
{
    position: absolute;
    content:'';
    height: 350px;
    bottom: 15px;
    width: 350px;
    left: 700px;
    border-radius: 50%;
    background: linear-gradient(rgb(0, 255, 179) 30%,rgb(1, 171, 250)50%);
    z-index: 2;
}

.circle2
{
    position: absolute;
    content:'';
    top: 10px;
    left: 330px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 0, 0) 30%,rgb(250, 225, 1) 50%);
    z-index: 1;
}


.container
{
    position: absolute;
    height: 500px;
    width: 500px;
    backdrop-filter: blur( 15px);
    background: rgba(255, 255, 255, 0.034);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  
}


.container::before
{
    position: absolute;
    height: 100px;
    width:  200px;
    transition: 5s ease;
    background: rgb(255, 0, 0);
    z-index: 4;
}

.container::after
{
    position: absolute;
    height: 100px;
    width:  200px;
    transition: 5s ease;
    background: rgb(255, 0, 0);
    z-index: 4;
}

.container::before:hover
{
     top: 150px;
    right: 200px;
}
.container::after:hover
{
    top: 30px;
    left: 150px;
}