body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.myContainer {
  min-height: 100%;
  position: relative;
}

.myHeader {
  padding: 10px;
}

.myBody {
  padding: 4% 14% 17%;
}

.myFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* Navbar */
.navbar {
  padding: 0.5rem 7%;
}

.nav-item {
  padding-right: 10px;
}

/* Content Section*/
.btn-lg {
  width: 100%;
  border-radius: 6rem;
  margin: 10px 0;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  background-color: #101010;
  color: #9d9d9d;
  width: 100%;
  text-align: center;
}
