@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Orbitron', sans-serif;
  background-color: #ccc;
}

body .container {
  background-color: #535028;
  max-width: 25rem;
  width: 100%;
  border: 1px solid #111;
  border-radius: 0.6rem;
  padding: 1rem;
  -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
}

body .container .wrapper {
  background-color: #111;
  border-radius: 0.6rem;
  padding: 0.6rem;
}

body .container .wrapper .clock-wrap {
  background-color: #ccc;
  border-radius: 0.3rem;
  height: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .wrapper .clock-wrap #day {
  font-size: 2rem;
}

body .container .wrapper .clock-wrap .clock {
  font-size: 3rem;
}

body .container .wrapper .clock-wrap .clock #sec {
  font-size: 1.2rem;
}
