*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}
body{
    background-color: #3498db;
    padding-bottom: 50px;
}

.container{
    width: 1300px;
    margin: 20px auto ;
    columns: 4;
    column-gap: 15px;
}

/* column gap and margin bottom of the cards should stay same */

.card{
   width: 100%;
   margin: 0 0 15px;
   background-color: white;
   overflow: hidden;
   break-inside: avoid;
   border-radius: 10px;
   padding: 10px 20px;
}
.card .card-content img{
    width: 100%;
    object-fit: cover;
}

.card-title{
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 0;
}

p{
    font-size: 13px;
    padding: 10px;
}


.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	margin: 6px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}

