@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    min-height: 100vh;
    background: #fff;
}
.navigation
{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 300px;
    border-radius:10px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
    transition: width 0.5s;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: #fff;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a
{
    color: #333;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.5rem;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
