*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;  
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282828;

}

.drag-area{
    border: 2px dashed rgb(148, 148, 148);
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active{
    border: 2px solid rgb(148, 148, 148);

}


.drag-area .icon{
    font-size: 100px;
    color: rgb(148, 148, 148);
}

.drag-area header{
    font-size: 30px;
    font-weight: 700;
    color: rgb(148, 148, 148);
}

.drag-area span{
    font-size: 30px;
    font-weight: 700;
    color: rgb(148, 148, 148);
    margin: 15px 0 15px 0;
}

.drag-area button{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    background: rgb(148, 148, 148);
    color: #282828;
    cursor: pointer;
}

.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
