
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800;900&display=swap');

*{
    margin:0px;
    padding:0px;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
   overflow-x: hidden;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;


}

section::before
{
    content: '';
    position: absolute;
    width:400px;
    height: 400px;
    background: linear-gradient(#fae20f,#e91e4a);
    border-radius: 50%;
    transform: translate(-420px , -180px);

}



section::after
{
    content: '';
    position: absolute;
    width:350px;
    height: 350px;
    background: linear-gradient(#0587f1,#6dc8f3);
    border-radius: 50%;
    transform: translate(400px , 180px);
}


.container
{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding:50px;
    background: rgba(225,225,225,0.1);

    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(225,225,225,0.25);

    border-right: 1px solid rgba(225,225,225,0.25);
    border-bottom: 1px solid rgba(225,225,225,0.25);

    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    
}

.container::before
{
    content:'';
    position:absolute;
    top:0;
    left: -40px;
    width: 100%;
    height: 100%;
    background: rgba(225,255,255,0.05);
    pointer-events: none;
    transform: skew(-15deg);
}

.container h2
{
    width:100%;
    text-align: center;
    color:#fff;
    font-size: 36px;
    margin-bottom: 20px;

}

.container .row100
{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.container .row100 .col
{
    position:relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;

}


.container .row100 .col .inputBox
{
    position:relative;
    width:100%;
    height: 40px;
    color: #fff;

}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea
{
  position: absolute;
  width:100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size:18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;

}

.container .row100 .col .inputBox .text
{
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text,
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;

}


.container .row100 .col .inputBox .line
{
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}



.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line
{
   height: 100%;
}



.container .row100 .col .inputBox.textarea
{
    position: relative;
    width:100%;
    height: 100px;
    padding: 10px 0;
}



.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line
{
   height: 100%;
}

.container .row100 .col input[type="submit"]
{
    border:none;
    border-radius: 8px;
    padding: 20px 20px;
    margin: 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    outline: none;
    background: #fff;
    color:#000;
    font-weight: 600;
    font-size:29px;
    
}
.container .row100 .col input[type="submit"]:hover{
    background-color: lightgrey;
}



@media(max-width: 767px)
{
    section::before
    {
        transform: translate( -200px,-100px);
    }

    section::after
    {
    transform: translate(220px , 180px);
    }

    .container
    {
        padding: 20px;
    }

    .container h2
    {
        font-size: 30px;
    }
    
}
