*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: consolas;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(5, 0, 24);
}
.scan
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scan .fingerprint
{
    position: relative;
    width: 300px;
    height: 380px;
    background: url('./images/fingerPrint_01.png');
    background-size: 300px;
}
.scan .fingerprint::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/fingerPrint_02.png');
    background-size: 300px;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}

.scan .fingerprint::after
{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_line 4s ease-in-out infinite;
}
@keyframes animate_line
{
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top:100%;
    }
}

.scan h3
{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #00ff4c;
    filter: drop-shadow(0 0 20px #00ff4c) drop-shadow(0 0 60px #00ff4c);
}