*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}
body{
    background-color: #3498db;
    padding: 5rem;
    padding-bottom: 7rem;
}

.container{
    min-width: 20rem;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* if you want masonry type layout uncomment following and add media query for responsiveness */
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem; */

}

.container h1{
    font-size: 5rem;
   
}

.container .posts{
    width: 100%;
    
    margin-top:4rem;
    background: aliceblue;
    padding: 2rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%)
}

.post-id{
    width: 5rem;
    height: 5rem;
    background: #3498db;
    color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.title{
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
    text-transform: capitalize;
}

.post-info{
    font-size: 1.5rem;
}


.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	margin: 6px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}