@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px  0;
}
.container .card
{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset  5px  5px 5px rgba(0,0,0,0.05),
                inset  -5px  -5px  5px rgba(255,255,255,0.5),
                5px   5px  5px rgba(0,0,0,0.05),
                -5px  -5px  5px rgba(255,255,255,0.5);

   border-radius: 15px;
   margin: 30px;

}

.container .card .box
{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    
}