@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body
{
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}

.container
{
    min-height: 100vh;
    width:100%;
    background-color: #485461;
    background: linear-gradient(135deg,#485448 0%, #28313b);
    overflow-x: hidden;
    transform-style: preserve-3d;
    overflow: hidden;
}


.navbar
{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index:10;
    height: 3rem;
}
.menu
{
    max-width:72rem;
    width: 100%;
    margin:0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo
{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}
.logo span
{
    font-weight: 300;
}
.hamburger-menu
{
    height: 3.0rem;
    width: 3.0rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}

.bar
{
    width: 1.9rem;
    height: 2.5px;
    border-radius: 2px;
    background-color: #eee;
    position: relative;
    transition: 0.5s;
}
.bar::after,
.bar::before
{
    content:'';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;

}
.bar::before
{
    transform: translateY(-9px);
}

.bar::after
{
    transform: translateY(9px);
}

.main
{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: white;
    overflow: hidden;
    transition: 0.6s;
    transform-origin: left;
    transform-style: preserve-3d;
}

header{
    min-height: 100vh;
    width:100%;
    background: url("bg-img.jpg") no-repeat top center/ cover;
    position: relative;
}

.overlay
{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(43,51,59,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner
{
    max-width: 35rem;
    text-align: center;
    background-color: transparent;
    padding: 0 2rem;
    color: #fff;
}

.title
{
    font-size: 2.7rem;
}

.btn 
{
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: #ff0077;
    border: none;
    border-radius: 25px;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
   
}

.container.active .bar
{
    transform: rotate( 360deg);
    background-color: transparent;
}

.container.active .bar:before
{
    transform: translateY(0px) rotate(45deg);
}
.container.active .bar:after
{
    transform: translateY(0px) rotate(-45deg);
}

.container.active .main
{
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(350px) scale(0.5);
    transition: 0.6s;
}

@keyframes main-animation {
    from{
        transform:translate(0);
    }

    to{
        transform: perspective(1300px) rotateY(20deg) translateZ(350px) scale(0.5);
    }
}

.links
{
    position: absolute;
    width:30%;
    right:0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul
{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 20px;
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;  
}

.links a:hover
{
    color: rgb(251, 255, 0);
   
}

.container.active .links a
{
    animation: appear 0.5s forwards ease var(--i);  
}

@keyframes appear{
    
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide{
    
    from{
        opacity: 1;
        transform: translateY(0px);
       
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}